<% provide(:title, 'All users') %>
<h1>Pending Request</h1>

<%#= will_paginate %>

<ul class="users">
   <% @requests.each do |request| %>
    <li>
    	<%= gravatar_for request.user %>	
      <%= link_to request.user.email, '#' %>
      <%= link_to "Accept", accecpt_request_path(request.user.id) , class: "btn btn-primary"  %>
      <%= link_to "Reject", reject_request_path(request.user.id) , class: "btn btn-primary"  %>
    </li>
   <% end %>
</ul>

<%#= will_paginate %>
